<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script>
        $(document).ready(function(){ 
            var socket = io.connect();
            $('button').click(function(){
                let color = $(this).html();
                socket.emit('color', color);
                console.log("the "+color+" button pressed")
            });
            socket.on('bg-color',data=>{
                console.log("recieved new color")
                $('body').removeClass();
                $('body').addClass(data);
            })
        });

    </script>
    <title>Live Colour Picker</title>
</head>
<body>
    <button>pink</button>
    <button>yellow</button>
    <button>teal</button>
</body>
</html>