<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/login">already a member, LOGIN here</a>
  <%- JSON.stringify(expressFlash) %>
  <% if ( expressFlash ) { %>
    <p><strong>FLASH!</strong> <%= expressFlash.errors %></p>
    <% } %>
  <form action="/register/process" method="POST">
    first name:<input type="text" name="firstName" >
    last name:<input type="text" name="lastName" >
    birthday:<input type="date" name="birthday" >
    email:<input type="email" name="email" >
    password:<input type="password" name="password" >
    verify password:<input type="password" name="vPassword" >
    <button type="submit">submit</button>
  </form>
</body>
</html>
