<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/register">not a member, REGISTER here</a>
  <form action="/login/process" method="POST">
    email:<input type="email" name="email" >
    password:<input type="password" name="password" >
    <button type="submit">submit</button>
  </form>
</body>
</html>
