<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>COOL CARS</h1>
    <img src="images/auto-788747_1280.jpg" alt="CAR">
    <img src="images/cuba-1197800_1280.jpg" alt="CAR">
    <img src="images/corvette-171422_1280.jpg" alt="CAR">
</body>
</html>