<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script>
        var socket = io();
        
        $(document).ready(function(){
            $('.epic-button').click(function(){
                console.log('form button');
                socket.emit('epicPress')
            })
            socket.on('updatePresses',(presses)=>{
                console.log(presses)
                $('span').html(presses+"")
            })
        });
        </script>
        <title>Document</title>
    </head>
    <body>
        <h1>The Button has been pressed <span>0</span></h1>
        <p>push the button to update the count</p>
        <button class="epic-button">Push the epic bottom</button>
        <div class="button-block">
            <button>Reset</button>
        </div>
    </body>